[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"
attrdict = "*"
pydantic = "*"

[dev-packages]
twine = "*"
loguru = "*"

[requires]
python_version = "3.8"
